<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Fotografar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="fotoService.novaFoto">
    <h3 class="styleTitulo">Nova Foto Salva</h3>
    <ion-img
      class="styleFotoSalva"
      src="{{ fotoService.novaFoto.base64 ? fotoService.novaFoto.base64 : fotoService.novaFoto.webviewPath }}"
    >
    </ion-img>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="fotoService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
